/* print.css */

/* hidden on-screen */
.print {
  display: none;
}

@media print {
  .text-muted {
    font-size: 0.6em;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.7em;
  }

  /* visible when printed */
  .print {
    display: block;
  }

  .no-print,
  footer {
    display: none;
    visibility: hidden;
  }

  table th,
  table td {
    font-size: smaller;
  }
}