{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="p-3 d-sm-flex align-items-center justify-content-between mb-4">
    <h2 class="mb-0 text-gray-800">Cuenta personal de {{ user.first_name }} {{user.last_name}} ({{user.email}})</h2>
  </div>
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
              Cuenta Corriente Personal
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_checking|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="bi bi-piggy-bank-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
              Capital social
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_social_capital|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="bi bi-flower3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%if total_personal.account_loans and total_personal.account_loans < 0 %}
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Préstamos:
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_loans|change_sign|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endif %}
</div>
<hr />
<div class="row">

  <div class="container p-2">
    <div class="alert alert-dark" role="alert">
      {% include "frontend/transaction_form.html" %}
    </div>
  </div>
  <hr />
  {% include "frontend/transaction_table.html" %}
</div>
{% endblock %}
{% block script %}
<script src="/static/js/transactions.js"></script>


{% endblock %}
