{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
<title>GNB Tus Facturas</title>
{% endblock %}

{% block content %}


<div class="py-5 text-center">
  <h2>Mis hojas de gasto</h2>
</div>


<table id="table" data-toggle="table" data-sort-name="total" data-sort-order="desc"
  class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th data-field="numero" data-sortable="true">Número</th>
      <th data-field="fecha" data-sortable="true">Fecha</th>
      <th data-field="total" data-sortable="true">Total(IVA incl.)</th>
      <th data-field="estado" data-sortable="true">Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
    <tr>
      <td><a href="{% url 'get_expense_sheet_view' expense_sheet_id=item.id %}">{{item.name}}</a></td>
      <td>{{item.accounting_date}}</td>
      <td>{{item.total_amount}} €</td>
      <td>{%if item.state == 'approve' %} Por aprobar
        {%elif item.state == 'post' %} Publicado
        {%elif item.state == 'draft' %} Borrador
        {%elif item.state == 'done' %} Aprobado
        {%elif item.state == 'cancel' %} Cancelado
        {%else %}{{item.state}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block script %}

<script>
  // Add CSS classes to the rows based on the "Estado" column value

  document.addEventListener('DOMContentLoaded', function () {
    var tableRows = document.querySelectorAll('#table tbody tr');

    tableRows.forEach(function (row) {
      var deuda = row.querySelector('td:nth-child(5)').textContent.trim();
      var estado = row.querySelector('td:nth-child(6)').textContent.trim();
      var estadoCell = row.querySelector('td:nth-child(6)');
      var estado = estadoCell.textContent.trim();
      if (estado === 'posted') {
        row.classList.add('table-success');
      } else if (estado === 'cancel') {
        row.classList.add('table-danger');
      }
      if (estado === 'posted') {
        estadoCell.textContent = 'Por pagar';
      }
      if (estado === 'cancel') {
        estadoCell.textContent = 'Cancelada';
      }
      if (deuda > 0) {
        row.classList.add('table-warning');
      }

      // Add more conditions for other states if needed
    });
  });
</script>


{% endblock %}

{% endblock %}