{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/print.css' %}" />
    
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}

<div class="card mt-2" id="main_card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-sm-7">
            <h2>Transacción nº {{transaction.name}} </h2>
            <ul class="list-unstyled">
              {% if user.is_superuser %}
              <li class="text-muted"><i class="bi bi-box-arrow-up-right" style="color:#84B0CA ;"></i>
                  <a href="{{ODOO_DOMAIN}}/web?debug=1#id={{transaction.id}}&action=216&model=account.move&view_type=form" target="_blank">Enlace ODOO</a>
              </li>
              {% endif %}
            </ul>
        </div>
        <div class="no-print col-sm-5 float-end">
          {% if transaction.state == 'posted' %}
          <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"  href="javascript:printInvoice();">
          <i class="bi bi-printer text-primary"></i> Imprimir</a>
            {% if transaction.payment_scope == "external"%}
            <a class="btn btn-light border-0 mb-2 w-100" data-mdb-ripple-color="dark"  href="javascript:printReceipt();">
            <i class="bi bi-printer text-primary"></i> Imprimir justificante de pago</a>
            {% endif %}
          {% endif %}
        </div>
        <hr>
      </div>

      <div class="row my-2 justify-content-center">

        <table class="table table-striped table-bordered table-hover text-center">
          <tbody>
            <tr>
              <td class="fw-bold">Fecha</td>
              <td>{{transaction.date}}</td>
            </tr>
            <tr>
              <td class="fw-bold">Origen</td>
              <td>{{transaction.sender}}</td>
            </tr>
            <tr>
              <td class="fw-bold">Destino</td>
              <td>{{transaction.receiver}}</td>
            </tr>
            <tr>
              <td class="fw-bold">Total</td>
              <td>
                <span class="transaction-amount {% if transaction.state == 'cancel' %}strikethrough{% endif %} {% if not transaction.positive %}negative-amount{% endif %}">
                  {{transaction.amount_total}} €
                </span>
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Referencia</td>
              <td>{{transaction.ref}}</td>
            </tr>
            <tr>
              <td class="fw-bold">Estado</td>
              <td>                
                {% if transaction.state == 'posted' %}
                Realizada
                {% elif transaction.state == 'cancel' %}
                Cancelada
                {% else %}
                {{transaction.state}}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        {% if transaction.payment_scope == "external"%}

        <table class="table table-striped table-bordered table-hover text-center">
          <tbody>
            <tr class="text-left">
                <td colspan="2" class="fw-bold">Transferencia externa</td>
            </tr>
            <tr>
              <td class="fw-bold">Beneficiario</td>
              <td>
                {{transaction.payment_beneficiary}}
              </td>
            </tr>
            <tr>
              <td class="fw-bold">IBAN</td>
              <td>
                {{transaction.payment_iban}}
              </td>
            </tr>
          <tbody>
        </table>

        <!-- Table for print payment receipt -->
        <table class="table table-striped table-bordered table-hover text-center d-none" id="payment_receipt">
            <tbody>
              <tr class="text-left">
                  <td colspan="2" class="fw-bold">Justificante de transferencia de {{bank_name}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Origen</td>
                <td>
                  {{organization_name}}
                </td>
              </tr>
              <tr>
                  <td class="fw-bold">Destino</td>
                  <td>
                    {{transaction.payment_iban}}
                  </td>
              </tr>
              <tr>
                <td class="fw-bold">Beneficiario</td>
                <td>
                  {{transaction.payment_beneficiary}}
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Fecha</td>
                <td>
                  {{transaction.date}}
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Concepto</td>
                <td>{{transaction.ref}}</td>
              </tr>
              <tr>
                <td class="fw-bold">Importe</td>
                <td>
                  {{transaction.amount_total}} €
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Estado</td>
                <td>                
                  {% if transaction.state == 'posted' %}
                  Realizada
                  {% elif transaction.state == 'cancel' %}
                  Cancelada
                  {% else %}
                  {{transaction.state}}
                  {% endif %}
                </td>
              </tr>
            </tbody>
        </table>
        {% endif %}

      </div>

      <hr>
    </div>
  </div>
</div>
{% include "frontend/get_comments.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/get-invoice-view.js' %}" type="text/javascript"></script>
{% endblock %}
