{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

{% if project.archived %}
<div class="alert alert-warning alert-dismissible mt-4" role="alert">
  <i class="bi bi-database-fill-lock"></i> Este proyecto está <b>archivado</b>, no puede generar facturas ni hojas de gasto.
</div>
{% endif %}
<div class="py-5 text-center">
  <h1>{{ project.name }} ({{project.code}}) 
    </h1>
</div>

<div class="row d-flex justify-content-center">

  <div class="col-md-3 col-sm-6 col-6 mb-2">
    <div class="card border-left-success shadow h-100">
      <div class="card-header">
        <h4 class="text-center text-dark"><i class="text-dark bi bi-piggy-bank-fill"></i>  Saldo Disponible</h4>
      </div>
        <div class="card-body balance">
          <h4 class="text-center text-dark green">{{ project_total.available_balance|floatformat:2 }} €</h4>
          {% for account_code, account in cash_accounts.items %}
            <p class="text-center h6 mb-0">
              {% if user in account.admins or user.is_superuser %}
                <a href="javascript:addCashAccountTx({{ account.id }}, '{{ account.name }}')">
                  <i class="text-dark bi bi-plus-square"></i>
                </a>
              {% endif %}
              {{ account.name }}: {{ account.balance|floatformat:2 }} €
            </p>
          {% endfor %}
        </div>
    </div>
  </div>

    {% if project_total.needed_expenses != 0 %}
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-dark"><i class="text-dark bi bi bi-snow"></i> Saldo Congelado</h4>
            <a href="javascript:info_frozen_balance()"><i class="bi bi-question-circle floating-help-icon"></i></a>
          </div>
          <div class="card-body balance">
            <h4 class="text-center text-dark green">{{project_total.frozen_total|floatformat:2}} €</h4>
            {% if project_total.total_unpaid_expenses %}
            <p class="text-left small mb-0">(en espera de aprobación: <span class="font-weight-normal">{{project_total.total_unpaid_expenses|floatformat:2}} €)</span></p>
            {% endif %}
            {% if project_total.total_unpaid_invoices %}
            <p class="text-left small mb-0">+ Faltan por cobrar: <span class="font-weight-normal">{{project_total.total_unpaid_invoices|floatformat:2}} €</span> en facturas.</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if project_total.account_loans %}
    <div class="col-md-3 col-sm-6 col-6 mb-2">
      <div class="card border-left-danger shadow h-100">
        <div class="card-header">
          <h4 class="text-center text-warning">Préstamos <i class="text-dark bi bi-magic"></i></h4>
          <a href="javascript:info_loans()"><i class="bi bi-question-circle floating-help-icon"></i></a>
        </div>
        <div class="card-body balance">
          <p class="text-center h5 mb-0">{{project_total.account_loans|floatformat:2}} €</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="col-md-6 col-sm-12 mb-2">
      <div class="card border-left-alert shadow h-100">
        <!-- Título centrado -->
        <div class="card-header text-center position-relative">
          <h4 class="text-dark mb-0">
            <i class="bi bi-box2-heart"></i> Aportaciones al colectivo
          </h4>
          <a href="javascript:info_contributions()"><i class="bi bi-question-circle floating-help-icon"></i></a>
        </div>
    
        <div class="card-body balance px-4 py-3">
          <input type="hidden" id="recommended-extra-contributions" value="{{ project_total.recommended_extra_contributions|floatformat:2 }}">
    
          <div class="row align-items-center">
            <!-- Columna 1: Mensaje de agradecimiento y botón (izquierda) -->
            <div class="{% if project_total.contribution_goal_completion >= 99  %}col-4{% else %}col-6{% endif %} text-start">
              <p class="h6 font-weight-bold mb-2">
                {% if project_total.contribution_goal_completion >= 99 %}
                  Muchas gracias ❤️❤️
                {% elif project_total.recommended_extra_contributions > 0 %}
                  Se recomienda <strong>+{{ project_total.recommended_extra_contributions|floatformat:2 }} €</strong> extra  
                  <small>
                    <a href="javascript:pay_contribution({{ project_total.recommended_extra_contributions|floatformat:2 }});" 
                       class="btn btn-sm btn-outline-primary mt-2">
                      Aporta ahora
                      {% if project_total.percentage_recomended_contribution_percentage %}
                        para llegar al {{ project_total.percentage_recomended_contribution_percentage }}% 🙏
                      {% endif %}
                    </a>
                  </small>
                {% endif %}
              </p>
            </div>
    
            <!-- Columna 2: Datos en una misma línea -->
            <div class="col-5">
              <p class="h6 text-muted mb-1 d-flex justify-content-between">
                <span>Total contribuciones:</span> <strong>{{ project_total.contributions|floatformat:2 }} €</strong>
              </p>
              <p class="h6 text-muted mb-1 d-flex justify-content-between">
                <span>Porcentaje sobre ingresos:</span> <strong>{{ project_total.percentage_contributions|floatformat:2 }}%</strong>
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
    
 

</div>
<ul class="nav nav-tabs" id="projectTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="true">Transacciones</button>
  </li>
  {%if project.can_invoice %} 
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="invoices-tab" data-bs-toggle="tab" data-bs-target="#invoices" type="button" role="tab" aria-controls="invoices" aria-selected="false">Ingresos/Facturas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses" type="button" role="tab" aria-controls="expenses" aria-selected="false">Gastos</button>
    </li>
  {% endif %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Miembros</button>
  </li>
</ul>

<div class="tab-content" id="projectTabContent">
  <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
    <!-- <p>Contenido de la pestaña Transacciones...</p> -->
    {% if user_is_project_admin or user.is_superuser%}
      <div class="container p-2">
        <div class="alert alert-dark" role="alert">
          {% include "frontend/transaction_form.html" %}
        </div>
      </div>
    {% endif %}
    {% include "frontend/transaction_table.html" %}
  </div>
  <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
    <!-- <p>Contenido de la pestaña Ingresos...</p> -->
    {%if project.can_invoice %}
      <div class="py-5 text-center">
        <h2>Ingresos/Facturas</h2>
      </div>


        <p class="text-right h6 mb-0">Total ingresos: {{project_total.account_sales|floatformat:2}} € (sin IVA)</p>
        {% if project_total.total_unpaid_invoices %}
          <p class="text-right small mb-0">Ya cobrados: {{ project_total.total_paid_invoices|floatformat:2 }} € </p>
          <p class="text-right small mb-0">Faltan por cobrar: {{project_total.total_unpaid_invoices|floatformat:2}} €</p>
        {% endif %}


      <div class="text-end mt-3 me-3 mb-3">
        {% if not project.archived %} 
        <a href="{% url 'new_invoice_view' project.code %}{% if user_id %}?user={{ user_id }}{% endif %}" class="btn btn-primary">
          Nueva Factura
        </a>
        {% endif %}
      </div>
      <table id="table-invoices" 
             data-toggle="table" 
             data-sort-name="total" 
             data-sort-order="desc"
             class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th data-field="numero" data-sortable="true" data-width="15">Número</th>
            <th data-field="cliente" data-sortable="true" data-width="300">Cliente</th>
            <th data-field="author" data-sortable="true" data-width="5">Creada por</th>
            <th data-field="fecha" data-sortable="true" data-width="8">Fecha</th>
            <th data-field="base" data-sortable="true" data-width="8">Base</th>
            <th data-field="iva" data-sortable="true" data-width="8">IVA</th>
            <th data-field="total" data-sortable="true" data-width="8">Total</th>
            <th class="d-none d-sm-table-cell" data-field="adeudado" data-sortable="true" data-width="6">Debe</th>
            <th class="d-none d-sm-table-cell" data-field="estado" data-sortable="true" data-width="6">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr {% if invoice.type == 'out_refund' %}class="table-warning"{% endif %}>
            <td>
              <a href="{% url 'get_invoice_view' invoice_id=invoice.id %}">
                {%if invoice.name == "/" %} Pendiente {% else %}{{invoice.name}}{% endif %}
              </a>
              {% if invoice.type == 'out_refund' %}
                <span class="badge bg-warning text-dark">Rectificativa</span>
              {% endif %}
              {% if invoice.reversed_entry_id %}
              <br>
              <small class="text-muted">
                Rectifica a: <a href="{% url 'get_invoice_view' invoice_id=invoice.reversed_entry_id.0 %}">
                  {{invoice.reversed_entry_id.1}}
                </a>
              </small>
              {% endif %}
            </td>
            <td>{{invoice.partner_id.1}}</td>
            <td>{{invoice.invoice_user_id.1}}</td>
            <td>{{invoice.invoice_date}}</td>
            <td>
              {% if invoice.type == 'out_refund' %}
                <span class="text-danger">{{invoice.amount_untaxed_signed|floatformat:2}} €</span>
              {% else %}
                {{invoice.amount_untaxed_signed|floatformat:2}} €
              {% endif %}
            </td>
            <td>
              {% if invoice.type == 'out_refund' %}
                <span class="text-danger">{{ invoice.amount_tax|floatformat:2 }} €</span>
              {% else %}
                {{ invoice.amount_tax|floatformat:2 }} €
              {% endif %}
            </td>
            <td>
              {% if invoice.type == 'out_refund' %}
                <span class="text-danger">{{invoice.amount_total_signed|floatformat:2}} €</span>
              {% else %}
                {{invoice.amount_total_signed|floatformat:2}} €
              {% endif %}
            </td>
            <td class="d-none d-sm-table-cell">
              {% if invoice.amount_residual_signed > 0 %}
                {{invoice.amount_residual_signed|floatformat:2}} €
              {% endif %}
            </td>
            <td class="d-none d-sm-table-cell">
              {% if invoice.state == 'posted' and invoice.invoice_payment_state == 'paid' %}
                <span class="text-success">
                  <i class="bi bi-check-circle-fill"></i> Pagada
                </span>
              {% elif invoice.state == 'posted' %}
                <span class="text-warning">
                  <i class="bi bi-hourglass-split"></i> Enviada
                </span>
              {% elif invoice.state == 'draft' %}
                <span class="text-secondary">
                  <i class="bi bi-pencil-square"></i> Borrador
                </span>
              {% else %}
                <span class="text-muted">
                  <i class="bi bi-question-circle"></i> {{invoice.state}}
                </span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
  </div>
  <div class="tab-pane fade" id="expenses" role="tabpanel" aria-labelledby="expenses-tab">
    {%if project.can_invoice %}
      <div class="py-5 text-center">
        <h2>Hojas de gasto</h2>
      </div>
        <p class="text-left h6 mb-0">Total gastos aprobados: {{project_total.account_expenses|floatformat:2}} €(sin IVA)</h2>
          {% if project_total.unjustified_total < 0 %}
            <p class="text-left h6 mb-0">Extra gastos ya justificados: {{project_total.unjustified_total|change_sign|floatformat:2}} €</p>
          {% endif %}
          {% if project_total.total_unpaid_expenses > 0 %}
            <p class="text-left h6 mb-0">Dinero congelado que estará disponible cuando se aprueben con hojas de gastos: {{project_total.total_unpaid_expenses|floatformat:2}} €</p>
          {% endif %}
          
      <div class="text-end mt-3 me-3 mb-3">
        {% if not project.archived %}
        <a href="{% url 'new_expense_view' project.code %}{% if user_id %}?user={{ user_id }}{% endif %}" class="btn btn-primary">
          Nueva Hoja de Gasto
        </a>
        {% endif %}
      </div>
      <table id="table" data-toggle="table" data-sort-name="total" data-sort-order="desc" class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th data-field="numero" data-sortable="true">Número</th>
          <th data-field="fecha" data-sortable="true">Fecha</th>
          <th data-field="author" data-sortable="true">Creada por</th>
          <th data-field="total" data-sortable="true">Total(IVA incl.)</th>
          <th data-field="estado" data-sortable="true">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for item in expenses%}
        <tr>
          <td>{%if user_is_project_admin or user.is_superuser %}<a href="{% url 'get_expense_sheet_view' expense_sheet_id=item.id %}">{{item.name}}</a>{% else %}
            {{item.name}}
          {% endif %}</td>
          <td>{{item.accounting_date}}</td>
          <td>{{item.employee_id.1}}</td>
          <td>{{item.total_amount}} €</td>
          <td>
            {% if item.state == 'approve' %}
              <span class="text-warning">
                <i class="bi bi-hourglass-split"></i> Por aprobar
              </span>
            {% elif item.state == 'post' %}
              <span class="text-info">
                <i class="bi bi-file-earmark-text"></i> Publicado
              </span>
            {% elif item.state == 'draft' %}
              <span class="text-secondary">
                <i class="bi bi-pencil-square"></i> Borrador
              </span>
            {% elif item.state == 'done' %}
              <span class="text-success">
                <i class="bi bi-check-circle-fill"></i> Aprobado
              </span>
            {% elif item.state == 'cancel' %}
              <span class="text-danger">
                <i class="bi bi-x-circle-fill"></i> Cancelado
              </span>
            {% else %}
              <span class="text-muted">
                <i class="bi bi-question-circle"></i> {{item.state}}
              </span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
    <!-- <p>Contenido de la pestaña Miembros...</p> -->
    <ul>
      {% for email,role in members.items%}
        <li>{{email}}{% if role == 'admin' %} (Admin){% endif %}</li> 
      {% endfor %}
    </ul>

  </div>
</div>

 

{% block script %}
<script src="/static/js/transactions.js"></script>
<script>
    //Depending on the url /projects/XXX/#expenses, it will open that tab 
    window.addEventListener('DOMContentLoaded', () => {
  setTimeout(() => {
    const hash = window.location.hash.substring(1); // Obtiene el hash actual sin el "#"
    const tabLinks = document.querySelectorAll('.nav-link'); // Todas las pestañas
    // Establece la pestaña activa según el hash actual en la URL
    if (hash) {
      let found = false; // Marca si se encontró un pane válido
      tabLinks.forEach(link => {
        const pane = document.querySelector(link.getAttribute('data-bs-target')); // Elemento objetivo
        if (link.getAttribute('data-bs-target') === `#${hash}`) {
          found = true; // Hash válido
          link.classList.add('active');
          link.setAttribute('aria-selected', 'true');
          if (pane) {
            pane.classList.add('show', 'active');
          }
          if (hash == `transactions`){ activateFirstTab(tabLinks); }
        } else {
          link.classList.remove('active');
          link.setAttribute('aria-selected', 'false');
          if (pane) {
            pane.classList.remove('show', 'active');
          }
        }
      });

      // Si no se encuentra ninguna pestaña válida, activa la primera pestaña por defecto
      if (!found) {
        activateFirstTab(tabLinks);
      }
    } else {
      // Si no hay hash, activa la primera pestaña por defecto
      activateFirstTab(tabLinks);
    }

    // Escucha el evento de cambio de pestañas
    tabLinks.forEach(link => {
      link.addEventListener('shown.bs.tab', event => {
        const target = event.target.getAttribute('data-bs-target'); // Obtén el objetivo de la pestaña activa
        // Verifica si la pestaña no pertenece a #year-tabs
        if (!event.target.closest('#year-tabs')) {
          window.history.replaceState(null, null, target); // Actualiza el hash en la URL
        }
      });
    });
  }, 0); // Retraso de 0 ms
});

// Esperar que el documento esté listo
document.addEventListener('DOMContentLoaded', function () {
  // Retrasar la ejecución
  setTimeout(() => {
    const tabList = document.querySelectorAll('#year-tabs .nav-link');
  
    // Asegurarse de que la primera pestaña esté activada
    if (tabList.length > 0) {
      const firstTab = tabList[0];
      const firstPane = document.querySelector(firstTab.getAttribute('data-bs-target'));
      
      if (firstTab && firstPane) {
        firstTab.classList.add('active');
        firstTab.setAttribute('aria-selected', 'true');
        firstPane.classList.add('show', 'active');
      }
    }
  }, 500); // Retraso de 500 ms
});

    // Función para activar la primera pestaña por defecto
    function activateFirstTab(tabLinks) {
      const firstTab = tabLinks[0];
      if (firstTab) {
        const firstPane = document.querySelector(firstTab.getAttribute('data-bs-target'));
        firstTab.classList.add('active');
        firstTab.setAttribute('aria-selected', 'true');
        if (firstPane) {
          firstPane.classList.add('show', 'active');
        }
      }

      
  }



  function info_contributions() {
    var bodyContent = `La donación consciente al común de la cooperativa suele ser de un 10% del dinero neto ingresado con facturas en tu cuenta de proyecto.
    <br><br>En este apartado se muestra la cantidad de dinero que ya has donado y lo recomendado que te faltaría(si es el caso) para llegar a ese %.
    <br><br>Si quieres saber más sore las donaciones, cómo se usan, etc, puedes leer más y participar en este <a target="_blank" href="{{ project_total.why_contributions_url}}">hilo privado del foro</a>.`;
    var title = '¿Cómo funcionan las donaciones?';
    var footerContent = `<button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Cerrar</button>`;
    createDynamicModal(title, bodyContent, footerContent);
  }

  function info_loans() {
    var bodyContent = `Esta caja solo aparece si tienes algún préstamo activo con la cooperativa.
    <br><br>También puedes ver todos los préstamos presentes y pasados entrando al proyecto principal de la cooperativa.`;
    var title = 'Préstamos';
    var footerContent = `<button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Cerrar</button>`;
    createDynamicModal(title, bodyContent, footerContent);
  }
  function info_frozen_balance() {
    var bodyContent = `Esta caja solo aparece si tienes algún dinero por cobrar o si te falta añadir gastos al proyecto para justificar los ingresos.
    <br><br>Una vez justificados y aprobados los gastos, el saldo pasa a estar disponible para moverse.`; 
    var title = 'Saldo congelado';
    var footerContent = `<button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Cerrar</button>`;
    createDynamicModal(title, bodyContent, footerContent);
  }
  

  $('#transfer_amount').on('change blur', function() {
    var amount_input = $(this).val();
    var account_available = parseFloat($('#available_balance').val());
    var recommendedExtraContributions = $('#recommended-extra-contributions').val();
    var valid = true;
    if (!(isNaN(account_available) || isNaN(amount_input) || amount_input <= 0)){
      var money_left = account_available - amount_input;
      if (money_left < recommendedExtraContributions && !$('#contributions').is(':checked')) {
        $('#contributions_label').removeClass('hidden');
      }
    }
  });

</script>
{% endblock %}

{% endblock %}
