{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/print.css' %}" />
<script>
$(document).ready(function() {

  // Envia la solicitud de FACe
  // Si el cliente no tiene FACe configurado abre un modal para añadir los datos DIR3 necesarios
  $('#facturae_button').click(function() {
      var facturae = {{ facturae|yesno:"true,false" }};
      var partner_id = "{{ partner.id }}"
      var invoice_id = "{{ invoice.id }}"
      if (facturae) sendFacturaeRequest(invoice_id);
      else showDIR3Modal(partner_id, invoice_id);
  });

  $('#unpaid_button').click(function() {
    var invoice_id = "{{ invoice.id }}"
    sendInvoiceUnpaidNotice(invoice_id);
  });
});

function get_taxid_name(id) {
  var taxIdNameMap = {
      42: 'IVA 4%', 43: 'IVA 10%',
      2: 'IVA 21%', 65: 'Exportación',
      47: 'Sin IVA 0%', 19: 'Servicio intracomunitario 0%',
      35: 'IVA Exento Repercutido No Sujeto'
  };

  // Return the name for the given ID
  return taxIdNameMap[id];
}

</script>
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb justify-content-end">
      {% if invoice.state == 'draft' %} 
        <li class="breadcrumb-item"><button class="btn btn-secondary btn-sm">Borrador</button></li>
      {% else %}
        <li class="breadcrumb-item"><button class="btn btn-outline-secondary btn-sm">Borrador</button></li>
        {%if invoice.state == 'cancel' %} 
        <li class="breadcrumb-item"><button class="btn btn-secondary btn-sm">Cancelada</button></li>
        {%elif invoice.state == 'posted' and invoice.invoice_payment_state == 'paid' %} 
        <li class="breadcrumb-item"><button class="btn btn-outline-secondary btn-sm">Aprobada</button></li>
        <li class="breadcrumb-item"><button class="btn btn-secondary btn-sm">Pagada</button></li>
        {%elif invoice.state == 'posted' and invoice.invoice_payment_state != 'paid' %} 
        <li class="breadcrumb-item"><button class="btn btn-secondary btn-sm">Aprobada</button></li>
        {% endif %}
      {% endif %}
    </ol>
  </nav>
</div>

<div class="card" id="main_card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-sm-7">
            <h2>Factura nº {{invoice.name}} </h2>
            <h4 class="print-exclude">Creada por: {{invoice.invoice_user_id.1}}</h4>

            <ul class="list-unstyled">
              <li class="text-muted">
                <i class="bi bi-calendar" style="color:#84B0CA ;"></i>
                <span class="fw-bold">Fecha de factura: </span>{{invoice.invoice_date}}
              </li>
              <li class="text-muted">
                <i class="bi bi-calendar" style="color:#84B0CA ;"></i>
                <span class="fw-bold">Fecha de vencimiento: </span>{{invoice.invoice_date_due}}
              </li>
              {% if user.is_superuser %}
              <li class="text-muted"><i class="bi bi-box-arrow-up-right" style="color:#84B0CA ;"></i>
                  <a href="{{ODOO_DOMAIN}}/web?debug=1#id={{invoice.id}}&action=216&model=account.move&view_type=form" target="_blank">Enlace ODOO</a>
              </li>
              {% endif %}
            </ul>
        </div>
        <div class="no-print col-sm-5 float-end">
          <div class="row">
            <div class="col-md-5">
              {% if invoice.state == 'posted' %}
              <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"  href="javascript:printInvoice();">
              <i class="bi bi-printer text-primary"></i> Imprimir</a>
              {% endif %}
              {% if invoice.state == 'posted' and invoice.invoice_payment_state != 'paid' %}
              <button id="unpaid_button" class="btn btn-light text-capitalize border-0 mb-2 w-100"
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Si esta factura no se va a pagar finalmente, pulsa aquí para que los admins creen una factura rectificativa y la presenten en el siguiente trimestre.">
                <i class="bi bi-x-octagon text-primary"></i> Avisar de impago
              </button>
              {% endif %}
              {% if not edit %}
                <a class="btn btn-light text-capitalize border-0 mb-2 w-100 d-inline-block" data-mdb-ripple-color="dark"  
                  href="{% url 'odoo:duplicate_invoice' invoice_id=invoice.id %}">
                <i class="bi bi-stickies text-primary"></i> Duplicar</a>
              {% endif %}
              {% if invoice.state == 'draft' and not edit %}
                <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"  
                  href="{% url 'get_invoice_view_edit' invoice_id=invoice.id %}">
                <i class="bi bi-pencil-square text-primary"></i> Editar</a>
              {% endif %}
            </div>
            <div class="col-md-7">
              {% if not edit %}
                {% if invoice.state == 'posted' or invoice.state == 'draft' %}
                <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"
                href="{% url 'odoo:download_invoice' invoice_id=invoice.id %}">
                <i class="bi bi-download text-primary"></i> Descargar factura PDF</a>

                <button id="facturae_button" class="btn btn-light text-capitalize mb-2 w-100">
                  <i class="bi bi-filetype-xml text-primary"></i> Solicitar factura electrónica (FACe)
                </button>
                {% endif %}
                {% if user.is_superuser %}
                  {% if invoice.state == 'posted' or invoice.state == 'draft' %}
                  <!-- De momento la factura se genera desde Odoo pq a veces faltan campos -->
                  <!-- <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"
                    href="{% url 'download_invoice_facturae' invoice_id=invoice.id %}">
                  <i class="bi bi-download text-primary"></i> Descargar factura electronica</a> !-->
                  {% endif %}
                  {% if invoice.state == 'posted' %}
                  <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"
                    href="{% url 'odoo:correct_invoice' invoice_id=invoice.id %}">
                  <i class="bi bi-file-earmark-excel-fill text-primary"></i> Generar factura rectificativa</a>
                  {% endif %}
                  {% if invoice.state == 'draft' %}
                  <a class="btn btn-light text-capitalize border-0 mb-2 w-100" data-mdb-ripple-color="dark"
                    href="{% url 'odoo:validate_invoice' invoice_id=invoice.id %}">
                  <i class="bi bi-hand-thumbs-up-fill text-primary"></i> Aprobar y notificar</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {% if invoice.state == 'posted' %}
          <ul class="list-unstyled">
            <li class="text-muted">{{INVOICE_ORG_DETAILS|safe}}</li>
          </ul>
          {% endif %}
        </div>
        <div class="col-sm-6 text-end">
          <!-- If EDIT
          <div class="row pe-2">
            <input type="hidden" id="client_id" value="{{partner.id}}">
            <div id="old_invoice_client_data">
              <input type="hidden" name="name" value="{{partner.name}}">
              <input type="hidden" name="street" value="{{partner.street}}">
              <input type="hidden" name="zip" value="{{partner.zip}}">
              <input type="hidden" name="city" value="{{partner.city}}">
              <input type="hidden" name="vat" value="{{partner.vat}}">
            </div>
            <div class="col-11" id="invoice_client_data">
              <input type="text" name="name" class="form-control text-end mb-1"
                style="color:#5d9fc5;" value="{{partner.name}}" disabled>
              <input type="text" name="street" class="form-control text-end text-muted mb-1" 
                value="{{partner.street}}" disabled>
              <div class="row">
                <div class="col-sm-5">
                  <input type="number" name="zip" class="form-control text-end text-muted mb-1" 
                  value="{{partner.zip}}" disabled> 
                </div>
                <div class="col-sm-7">
                  <input type="text" name="city" class="form-control text-end text-muted mb-1" 
                  value="{{partner.city}}" disabled>
                </div>
              </div>
              <input type="text" name="vat" class="form-control text-end text-muted mb-1" 
              value="{{partner.vat}}" disabled> 
            </div>
            <div class="col-1">
              <button type="button" id="edit_invoice_client_button" class="btn btn-sm btn-primary mt-md-5">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
          </div>
          ELSE-->
          <ul class="list-unstyled">
            <li class="text-muted"> <span style="color:#5d9fc5 ;">{{partner.name}}</span></li>
            <li class="text-muted">{{partner.street}}</li>
            <li class="text-muted">{{partner.zip}}, {{partner.city}},{{partner.state_id.1}}</li>
            <li class="text-muted">Nº identif. fiscal (NIF): {{partner.vat}}</li>
          </ul>
         
        </div>
      </div>

      <div class="row my-2 mx-1 ms-3 justify-content-center" style="font-size: smaller;">
        <table class="table table-striped table-borderless ">
          <thead style="background-color:#84B0CA ;" class="text-white">
            <tr>
              <th class="col-7 ">Descripción</th>
              <th class="col text-center">Cantidad</th>
              <th class="col text-center">Precio Unidad</th>
              <th class="col text-center">Impuestos</th>
              <th class="col text-center">Importe</th>
              {% if edit %}
              <th class="col text-center"></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% if edit %}
            <form id="edit_invoice_form">
              <input type="hidden" id="invoice_id" value="{{ invoice.id }}">
            {% for move_line in move_lines %}
            <tr>
              <input type="hidden" name="line_id" value="{{ move_line.id }}">
              <td>
                <input type="text" class="w-100" disabled
                name="description" value="{{move_line.name}}">
              </td>
              <td class="text-center">
                <input type="number" class="text-center" style="width:80px" disabled
                name="quantity" value="{{move_line.quantity}}">
              </td>
              <td class="text-center">
                <input type="number" class="text-center" style="width:100px" disabled
                name="price_unit" value="{{move_line.price_unit}}">
              </td>
              <td class="text-center" id="taxNamesContainer-{{forloop.counter}}">
                <select name="tax_id" value={{move_line.tax_ids|first}} style="width:100px" disabled>
                  <option value=42 data-tax-amount=4>IVA 4%</option>
                  <option value=43 data-tax-amount=10>IVA 10%</option>
                  <option value=2 data-tax-amount=21 selected>IVA 21%</option>
                  <option value=65 data-tax-amount=0>Exportación</option>
                  <option value=47 data-tax-amount=0>Sin IVA (Formación)</option>
                  <option value=19 data-tax-amount=0>Servicio intracomunitario</option>
                </select>
              </td>
              <td class="text-center" class="line_subtotal">{{move_line.price_subtotal}} €</td>
              <td class="text-center">
                <button type="button" class="btn btn-sm btn-primary edit_invoice_line_button">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>
            </tr>              
            {% endfor%}
            {% else %}
            {% for move_line in move_lines %}
            <tr>
              {%if move_line.display_type == "line_note" %}
                <td style="background-color: #FFFF99; text-align: center;"><i>{{move_line.name}}</i></td>
              {% else %}
                <td>{{move_line.name}}</td>
              
              <td class="text-center">{{move_line.quantity}}</td>
              <td class="text-center">{{move_line.price_unit}} €</td>
              <td class="text-center" id="taxNamesContainer-{{forloop.counter}}">
                {% for tax_id in move_line.tax_ids %}
                <script>
                  var taxName = get_taxid_name({{ tax_id }});
                  // Create a span element to hold the tax name
                  var spanElement = document.createElement('span');
                  spanElement.textContent = "(" + taxName + ")";
                  // Append the span to the container
                  document.getElementById('taxNamesContainer-{{forloop.parentloop.counter}}').appendChild(spanElement);

                </script>
                {% endfor %}
              </td>
              <td class="text-center">{{move_line.price_subtotal}} €</td>
              {% endif %}
            </tr>
            {% endfor %} 
            {% endif %}

            {% if edit %}
            </form>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p class="ms-3"><b>Por favor utilice la siguiente referencia al realizar su pago: {{invoice.name}}</b></p>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled text-end mr-3">
            <li class="text-muted ms-3">
              <span id="invoice_subtotal" class="text-black me-4">Subtotal</span>{{invoice.amount_untaxed}} €
            </li>
            {% for tax_group in invoice.amount_by_group %}
            <li class="text-right text-muted ms-3 mt-2">
              <span class="text-black me-4">{{tax_group.0}}</span>{{tax_group.1}} €
            </li>
            {% endfor %}
            <li class="text-black ms-2 total-amount">
              <span class="text-black me-4">Importe total</span>{{invoice.amount_total}} €
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>{{INVOICE_ORG_DETAILS_BELOW|safe}}</p>
        </div>
        {% if edit %}
        <div class="col-sm-12 text-center">
          <button type="button" id="finish_edit_button" data-url="{% url 'get_invoice_view' invoice_id=invoice.id %}"
            class="btn btn-primary float-end px-5">Finalizar edición
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include "frontend/get_comments.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/get-invoice-view.js' %}" type="text/javascript"></script>
{% endblock %}
