<div class="card mt-3">
    <div class="card-header">
      <h4>Comentarios</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
        {% for comment in comments %}
          {% if comment.body %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                <b> {{ comment.author }}</b> : {{ comment.body | linebreaks }} 
              </div>
              <div class="col-md-2 text-end">
                <span style="color:#5d9fc5 ;">{{comment.date}}</span>
              </div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
      <form action="{% url 'send_new_comment' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" placeholder="Escribe aqui tu comentario" name="body" required></textarea>
            {% if invoice.id %}
            <input type="hidden" name="res_id" value="{{ invoice.id }}"/>
            {% elif object.id %}
            <input type="hidden" name="res_id" value="{{ object.id }}"/>
            {% endif %}
            <input type="hidden" name="odoo_model" value="{{ odoo_model }}"/>
  
          <div class="form-text">Recuerda que nunca te pediremos tus contraseñas.</div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Enviar nuevo comentario</button>
      </form>
    </div>
  </div>