{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
<title>GNB Tus Facturas</title>
{% endblock %}

{% block content %}



<div class="py-5 text-center">
  <h2>Mis facturas</h2>
</div>


<table id="table" data-toggle="table" data-sort-name="total" data-sort-order="desc"
  class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th data-field="fecha" data-sortable="true">Fecha</th>
      <th data-field="numero" data-sortable="true">Número</th>
      <th data-field="cliente" data-sortable="true">Cliente</th>
      <th data-field="total" data-sortable="true">Total(IVA incl.)</th>
      <th data-field="adeudado" data-sortable="true">Adeudado</th>
      <th data-field="estado" data-sortable="true">Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in items%}
    <tr>
      <td>{{invoice.invoice_date}}</td>
      <td><a href="{% url 'get_invoice_view' invoice_id=invoice.id %}">
        {%if invoice.name == "/" %}{{CURRENT_YEAR}}/{{invoice.project_code}}/Pendiente
        {%else %}{{invoice.name}}{% endif %}</a></td>
      <td>{{invoice.partner_id.1}}</td>
      <td>{{invoice.amount_total_signed}}</td>
      <td>{{invoice.amount_residual_signed}}</td>
      <td>{%if invoice.state == 'posted' and invoice.invoice_payment_state == 'paid' %}Pagada
        {%elif invoice.state == 'posted' %} Aprobada
        {%elif invoice.state == 'draft' %} Borrador
        {%else %}{{invoice.state}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block script %}

<script>
  // Add CSS classes to the rows based on the "Estado" column value

  document.addEventListener('DOMContentLoaded', function () {
    var tableRows = document.querySelectorAll('#table tbody tr');

    tableRows.forEach(function (row) {
      var deuda = row.querySelector('td:nth-child(5)').textContent.trim();
      var estado = row.querySelector('td:nth-child(6)').textContent.trim();
      var estadoCell = row.querySelector('td:nth-child(6)');
      var estado = estadoCell.textContent.trim();
      if (estado === 'posted') {
        row.classList.add('table-success');
      } else if (estado === 'cancel') {
        row.classList.add('table-danger');
      }
      if (estado === 'posted') {
        estadoCell.textContent = 'Enviada';
      }
      if (estado === 'cancel') {
        estadoCell.textContent = 'Cancelada';
      }
      if (deuda > 0) {
        row.classList.add('table-warning');
      }

      // Add more conditions for other states if needed
    });
  });
</script>


{% endblock %}

{% endblock %}