<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container px-5 text-white">
    <a class="navbar-brand" href="/"><img class="img-fluid rounded-3 my-5" src="/static/assets/images/logo2.png"
        alt="Logotipo GNB, que se identifica con un suricato con la mano abierta mostrando las letras GNB" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="ms-auto mb-2 mb-lg-0" id="username_navbar">
      {% if request.user.is_superuser %}
      <select class="selectpicker" id="user_selector" data-live-search="true">
        <option value="----">------</option>
        {% for u in all_users %}
        <option value="user:{{ u.email }}" >
          {{ u.username }} ({{ u.first_name }} {{ u.last_name }})
        </option>
        {% endfor %}
        {% for p in all_projects %}
        <option value="project:{{ p.code }}">
          {{ p.code }} - {{ p.name }}
        </option>
        {% endfor %}
      </select>
      {% else %}
      Hola {{ user.username }}
      {% endif %}
      <script>
        const userSelector = document.getElementById("user_selector");

        userSelector.addEventListener("change", function () {
          const selectedValue = this.value;

          // Check for invalid selection
          if (selectedValue === "----") {
            return;
          }

          let newUrl;

          if (selectedValue.startsWith("user:")) {
            // Extract the user ID from the value
            const userId = selectedValue.replace("user:", "");
            newUrl = `/gnb/accounts/${userId}/`;
          } else if (selectedValue.startsWith("project:")) {
            // Extract the project code from the value
            const projectCode = selectedValue.replace("project:", "");
            newUrl = `/gnb/projects/${projectCode}/`;
          }

          // Redirect to the new URL
          showLoadingScreen();
          window.location.href = newUrl;
        });
      </script>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_dashboard_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Panel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show align-items-center" href="#" id="my_account" data-bs-toggle="dropdown"
            aria-expanded="false">
            Transparencia</a>
          <ul class="dropdown-menu" aria-labelledby="my_account" data-bs-popper="none">
          <li><a class="nav-link text-black" href="{% url 'projects_report_view' %}">Informe Proyectos</a></li>
          <li><a class="nav-link text-black" href="{% url 'reports_balance_view' %}">Informe Cuentas</a></li>
        </ul>
      </li>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const menuLinks = document.querySelectorAll('nav a:not(.dropdown-toggle)');
            
            menuLinks.forEach(link => {
              link.addEventListener('click', function(event) {
                // Prevent default navigation
                event.preventDefault();
                
                // Show loading screen
                showLoadingScreen();
                
                // Navigate after a short delay
                setTimeout(() => {
                  window.location.href = this.href;
                }, 100);
              });
            });
            });
        </script>

        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show align-items-center" href="#" id="my_account" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administración</a>
          <ul class="dropdown-menu" aria-labelledby="my_account" data-bs-popper="none">
            <li><a class="nav-link text-black" href="{% url 'new_cashin_view' %}">Conciliar Ingresos</a></li>
            <li><a class="nav-link text-black" href="{% url 'pending_payments_view' %}">Pagos pendientes</a></li>
            <li><a class="nav-link text-black" href="{% url 'new_project_view' %}">Nuevo Proyecto</a></li>
            <li><a class="nav-link text-black" href="{% url 'new_user_view' %}">Nuev@ Usuari@</a></li>
            <li><a class="nav-link text-black" href="{% url 'users_report_view' %}">Balances Usuarios</a></li>
            <li><a class="nav-link text-black" href="/admin/">Backend</a></li>
          </ul>
        </li>
        {% endif %}


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show align-items-center" style="margin-top:-7px" href="#" id="my_account"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-3"></i></a>

          <ul class="dropdown-menu" aria-labelledby="my_account" data-bs-popper="none">
            <li><a class="nav-link text-black" href="{% url 'get_invoices_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Mis Facturas</a></li>
              <li><a class="nav-link text-black" href="{% url 'get_expenses_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Mis Gastos</a></li>
            <li><a class="nav-link text-black" href="{% url 'contact_view' %}">Contacto</a></li>
            <li><a class="nav-link text-black" href="{% url 'logout' %}">Desconectarse</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
