{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="p-3 d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-gray-800">Panel de {{ user.first_name }} {{ user.last_name }}</h1>
  </div>
  
</div>
<hr />
<div class="row">

  <!-- Proyectos -->
  <div class="py-5 text-center">
    <h2>Mis Proyectos</h2>
    <hr>
  </div>
  <ul class="list-group project-list">
    <li class="list-group-item "  >
      <a class="big text-primary" href="{% url 'account_view' account_username=user_email %}{%if user_id %}?user={{user_id}}{%endif%}">CUENTA PERSONAL:  {{ user_email }}</a>
    </li>
    {% for project_code, project in user_projects.items %}
    <li class="list-group-item" >
      <a class="big" href="{% url 'project_view' project_code=project_code %}{%if user_id %}?user={{user_id}}{%endif%}">[{{ project_code }}] {{ project.name }}</a>
          {% if project.archived %}
            <span class="badge bg-secondary badge-sm"><i class="bi bi-database-fill-lock"></i> Archivado</span>
          {% endif %}
          {% if project.role == 'admin' %}
            <!-- <span class="badge bg-primary badge-sm">Admin</span> -->
            {% if not project.archived and project.can_invoice %}
              <a href="{% url 'new_invoice_view' project_code=project_code %}{%if user_id %}?user={{user_id}}{%endif%}">
                <span class="badge bg-danger badge-sm">+ Nueva Factura</span></a>
              <a href="{% url 'new_expense_view' project_code=project_code %}{%if user_id %}?user={{user_id}}{%endif%}">
                <span class="badge bg-warning badge-sm">+ Nuevo Gasto</span></a>
            {% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  <hr>


{% endblock %}
