{% extends "base.html" %}
{% load static %}
{% block title %}
<title>GNB Nueva Factura</title>
{% endblock %}

{% block content %}

<form id="new_invoice" class="needs-validation" novalidate>
  <div class="py-5 text-center">
    <h2>Crear factura nueva en proyecto [{{project_code}}]</h2>
  </div>
  <input type="hidden" id="journal" name="journal" value="{{project_code}}">
  <!-- <input type="hidden" id="product" name="product" value="{{product}}"> -->
  <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
  <div class="row justify-content-between g-3">
    <div class="col-sm-4">
      <label for="cliente" class="form-label">Búsqueda de cliente (Nombre o NIF/CIF)</label>
      <div class="input-group">
        <input type="search" id="client_search" class="form-control" placeholder="Ej. F02546489" >
        <a type="button" class="btn btn-outline-primary btn-xs right-radius"><i
            class="bi bi-search"></i> Buscar</a>
        <ul id="client-search-results" class="list-group d-block"></ul>
      </div>
      <small class="text-muted d-block">Los datos del cliente se autorellenan al buscar</small>
    </div>

    <div class="col-sm-3">
      <label for="date" class="form-label">Fecha de factura <span class="text-muted">(Opcional)</span></label>
      <input type="date" class="form-control" id="date" placeholder="pulsa para elegir fecha">
      <div class="invalid-feedback">
        Introduce una fecha válida.
      </div>
    </div>
    <div id="datos-cliente" class="col-12">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="client_name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="client_name" required>
          <div class="invalid-feedback">
            El Nombre del cliente es obligatorio.
          </div>
        </div>
        <div class="col-sm-3">
          <label for="client_tax" class="form-label">NIF/CIF</label>
          <input type="text" class="form-control" id="client_tax" required>
          <div class="invalid-feedback">
            NIF/CIF del cliente es obligatorio.
          </div>
        </div>
        <div class="col-sm-3">
          <label for="client_country" class="form-label">País</label>
          <select name="country" class="form-select" id="client_country">
            {% for code, name in countries %}
                <option value="{{ code }}" 
                  {% if code == 'ES' %}selected{% endif %}>
                  {{ name }}
                </option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            En país del cliente es obligatorio.
          </div>
        </div>
        <div class="col-sm-6">
          <label for="client_street" class="form-label">Domicilio</label>
          <input type="text" class="form-control" id="client_street" required>
          <div class="invalid-feedback">
            El domicilio del cliente es obligatorio.
          </div>
        </div>
        <div class="col-sm-3">
          <label for="client_city" class="form-label">Ciudad/Población</label>
          <input type="text" class="form-control" id="client_city" required>
          <div class="invalid-feedback">
            La población es obligatoria.
          </div>
        </div>
        <div class="col-sm-3">
          <label for="client_zip" class="form-label">Código Postal</label>
          <input type="number" class="form-control" id="client_zip" required>
          <div class="invalid-feedback">
            El código postal es obligatorio.
          </div>
        </div>
      </div>

      <small class="d-none text-muted">Los datos del cliente hay que rellenarlos todos.</small>
    </div>

    <div class="col-sm-6">
      <label for="address" class="form-label">Referencia</label>
      <input type="text" class="form-control" id="referencia" placeholder="¿Alguna referencia específica?">
      <div class="invalid-feedback">
        Por favor introduce una referencia correcta.
      </div>
    </div>

    <div class="col-sm-3">
      <label for="address" class="form-label">Plazo de pago</label>
      <select class="form-select" id="terminos-pago" required value=4 aria-label="Selecciona el plazo de pago">
        <option selected value=1>Pago inmediato</option>
        <option value=2>15 Días</option>
        <option value=3>21 Días</option>
        <option value=4>30 Días</option>
        <option value=6>2 Meses</option>
        <option value=7>Final de mes siguiente</option>
      </select>
      <div class="invalid-feedback">
        Elige qué términos de pago.
      </div>
    </div>

  </div>

  <hr class="my-4">
  <div id="inputContainer">
    <h4 class="mb-3">Líneas de factura</h4>
    <div class="input-row row gy-3" id="inputRow-0">

      <div class="col-1 d-flex pt-4 pb-3 me-3">
        <button type="button" class="btn btn-xs bg-black text-white rem-row-button"><i class="bi bi-trash"></i></button>
      </div>
      <div class="col-sm-3 d-none">
        <label for="product-0" class="form-label">Producto</label>
        <select class="form-select" id="product-0" required>
          {% for p in products %}
          <tr>
            <option value={{p.id}} ref="{{p.default_code}}">{{p.name}}</option>
          </tr>
          {% endfor %}
        </select>
      </div>

      <div class="col-10">
        <label for="description-0" class="form-label">Concepto del producto/servicio</label>
        <input type="text" class="form-control" id="description-0" required>
        <small class="text-muted">Escribe el concepto de la venta.</small>
        <div class="invalid-feedback">
          El concepto es obligatorio
        </div>
      </div>

      <div class="col-sm-6">
        <label for="taxes-0" class="form-label">¿Impuestos?</label>
        <select class="form-select" id="taxes-0" required value=2 aria-label="Selecciona el IVA">
          {% for tax in account_taxes %}
            <option value="{{ tax.odoo_account_tax_id }}" data-tax-amount="{{ tax.tax_amount }}">
                {{ tax.name }}
            </option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">
          Impuestos requerido
        </div>
      </div>

      <div class="col-sm-3">
        <label for="quantity-0" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="quantity-0" value=1 required>
        <div class="invalid-feedback">
          Cantidad requerida
        </div>
      </div>

      <div class="col-md-3">
        <label for="price-0" class="form-label">Precio por unidad</label>
        <input id="price-0" type="number" class="form-control" placeholder="0,00" required min="0" value="1,00" step="0.01"
          pattern="^\d+(?:\.\d{1,2})?$" onblur="
  this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red';" required>
        <div class="invalid-feedback">
          Precio requerido
        </div>
      </div>

      <hr class="my-4">
    </div>
  </div>
  <div class="col-sm-12 text-end">
    <button type="button" class="btn btn-primary add-row-button"><i class="bi bi-plus"></i></button>
  </div>
  <div class="col-12">
    <label for="note" class="form-label">Nota</label>
    <textarea id="note" class="form-control" aria-describedby="inputGroup-sizing-sm" aria-label="Nota"
      placeholder="Nota para la factura, en ocasiones requerido por proyecto o por características específicas."></textarea>
  </div>

  <hr class="my-4">
  <div class="col-sm-4 ">
    <p><span class="text-black me-4 align-top">Subtotal: </span><span id="subtotalValue">xxx</span> €</p>
    <p><span class="text-black me-4 align-top">Impuestos: </span><span id="taxesValue">xxx</span> €</p>
    <p style="font-size: 22px; font-weight: bold;"><span class="me-3 text-black">Importe total:</span><span id="totalValue">xxx</span> €</p>
  </div>
  
  
  <hr class="my-4">

  <button class="w-100 btn btn-primary btn-lg" onclick="sendForm()" type="button">Crear factura</button>
</form>


{% endblock %}
{% block script %}

<script>
  document.getElementById('date').value = obtenerFechaActual();
  // var JournalNextNumbers = {{ next_invoice_numbers| safe }};
</script>
<script src="{% static 'js/invoices.js' %}?v={{APP_VERSION}}" type="text/javascript"></script>


{% endblock %}