{% extends "django_registration/registration_base.html" %}
{% load i18n static %}
{% block title %}{% trans "Bienvenid@ a GNB" %}{% endblock %}
 
    {% block content %}
        <h3>Bienvenid@ a <strong>GNB</strong></h3>
        <a href="/accounts/login/" class="btn btn-login btn-primary w-100 py-2">
            {% trans "Inicia sesión" %}
        </a>
        <p class="footer">
            GNB está desarrollado por <a href="https://komun.org/" target="_blank">Komun.org</a> y es 100% <a href="https://framagit.org/komun/gnb" target="_blank">software libre</a>.
        </p>
    {% endblock %}