{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}
<title>Listado de Proyectos y Balances</title>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/report_projects.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Informe de Proyectos</h2>
</div>

<!-- Botones para los años y la pestaña "Total" -->
<ul class="nav nav-tabs" id="yearTabs" role="tablist">
    <!-- Pestaña Total -->
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link active" 
        id="tab-always" 
        data-bs-toggle="tab" 
        data-bs-target="#content-always" 
        type="button" 
        role="tab" 
        aria-controls="content-always" 
        aria-selected="true">
        Suma General
      </button>
    </li>

  {% for year in total_projects.keys %}
    {% if year != 'all' %}
      <li class="nav-item" role="presentation">
        <button 
          class="nav-link " 
          id="tab-{{ year }}" 
          data-bs-toggle="tab" 
          data-bs-target="#content-{{ year }}" 
          type="button" 
          role="tab" 
          aria-controls="content-{{ year }}" 
          aria-selected="false">
          {{ year }}
        </button>
      </li>
    {% endif %}
  {% endfor %}


</ul>


<!-- Contenido para cada año y la pestaña "Siempre" -->
<div class="tab-content" id="yearTabsContent">
   
  <!-- Contenido para la pestaña Siempre -->
  <div 
  class="tab-pane fade show active" 
  id="content-always" 
  role="tabpanel" 
  aria-labelledby="tab-always">

  <!-- Mostrar la fecha de cálculo antes del botón -->
  <p><strong>Última fecha de cálculo de la estadística:</strong> 
    {% if total_projects.all.calculation_date %}
      {{ total_projects.all.calculation_date }}
    {% else %}
      Sin registro
    {% endif %}
  </p>

  <!-- Botón para refrescar caché (dentro del tab Siempre) -->
  {% if request.user.is_superuser %}
  <br>
  <div class="mb-3">
    <form method="get" action="" onsubmit="showLoadingScreen();">
      <input type="hidden" name="refresh_cache" value="1">
      <input type="hidden" name="year" value="all"> <!-- Año dinámico -->
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-sync-alt"></i> Refrescar Caché
      </button>
    </form>
  </div>
  {% endif %}

  <div class="container mt-5">
    <canvas id="chartIngresosGastos-all" width="400" height="200"></canvas>
  </div>

  <!-- Tabla de proyectos para la pestaña Siempre -->
  <table class="table table-striped table-bordered mt-4 sortable-table" data-toggle="table" data-show-footer="true">
    <thead class="thead-dark">
      <tr>
        <th data-sortable="true">Código</th>
        <th data-sortable="true">Nombre</th>
        {% if request.user.is_superuser %}
          <th data-sortable="true" class="sum-column">Saldo Corriente*</th>
          <th data-sortable="true" class="sum-column">Sin justificar *</th>
        {% endif %}
        <th data-sortable="true" class="sum-column">Ingresos (€)</th>
        <th data-sortable="true" class="sum-column">Gastos (€)</th>
        <th data-sortable="true" class="sum-column">Contribución cooperativa</th>
        <th data-sortable="true">Contribución %</th>
        {% if request.user.is_superuser %}
          <th  data-sortable="true" class="sum-column">Ingresos por cobrar *</th>
          <th data-sortable="true" class="sum-column">Gastos por aprobar *</th>
        {% endif %}
      </tr>
    </thead>
    
    <tbody>
      {% for project in total_projects.all.data|dictsort:"code" %}
        {% if project.account_sales != 0 or project.account_expenses != 0 %}
        <tr>
          <td>{{ project.code }}</td>
          <td>{{ project.name }}</td>
          {% if request.user.is_superuser %}
            <td>{{ project.account_checking|floatformat:2 }} €</td>
            <td>
              {% if project.total_unjustified < 0 %}
                <strong>{{ project.total_unjustified|floatformat:2 }} €</strong>
              {% else %}
                {{ project.total_unjustified|floatformat:2 }} €
              {% endif %}
            </td>
          {% endif %}
          <td>{{ project.account_sales|floatformat:2 }} €</td>
          <td>{{ project.account_expenses|floatformat:2 }} €</td>
          <td>{{ project.contributions|floatformat:2 }} €</td>
          <td>{{ project.contributions|contribution_percentage:project.account_sales }}</td>
          {% if request.user.is_superuser %}
            <td>{{ project.total_unpaid_invoices|floatformat:2 }} €</td>
            <td>{{ project.total_unpaid_expenses|floatformat:2 }} €</td>
          {% endif %}
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <div class="container mt-5">
    <canvas id="chartIngresosPie-all" width="400" height="200"></canvas>
  </div>


  </div>

  <!-- Gráficos de ingresos y gastos para cada año -->
  {% for year, year_data in total_projects.items %}
  <div 
    class="tab-pane fade " 
    id="content-{{ year }}" 
    role="tabpanel" 
    aria-labelledby="tab-{{ year }}">

    <!-- Mostrar la fecha de cálculo antes del botón -->
    <p><strong>Última fecha de cálculo de la estadística:</strong> 
      {% if year_data.calculation_date %}
        {{ year_data.calculation_date }}
      {% else %}
        Sin registro
      {% endif %}
    </p>

    <!-- Botón para refrescar caché (dentro del tab de cada año) -->
    {% if request.user.is_superuser %}
    <br>
    <div class="mb-3">
      <form method="get" action="" onsubmit="showLoadingScreen();">
        <input type="hidden" name="refresh_cache" value="1">
        <input type="hidden" name="year" value="{{ year }}"> <!-- Año dinámico -->
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-sync-alt"></i> Refrescar Caché
        </button>
      </form>
    </div>
    {% endif %}

    <div class="container mt-5">
      <canvas id="chartIngresosGastos-{{ year }}" width="400" height="200"></canvas>
    </div>

   <!-- Tabla de proyectos para cada año -->
<table class="table table-striped table-bordered mt-4 sortable-table" data-toggle="table" data-show-footer="true">
  <thead class="thead-dark">
    <tr>
      <th data-sortable="true">Código</th>
      <th data-sortable="true">Nombre</th>
      {% if request.user.is_superuser %}
        <th data-sortable="true" class="sum-column">Saldo Corriente*</th>
        <th data-sortable="true" class="sum-column">Sin justificar *</th>
      {% endif %}
      <th data-sortable="true" class="sum-column">Ingresos (€)</th>
      <th data-sortable="true" class="sum-column">Gastos (€)</th>
      <th data-sortable="true" class="sum-column">Contribución cooperativa</th>
      <th data-sortable="true">Contribución %</th>
      {% if request.user.is_superuser %}
        <th data-sortable="true" class="sum-column">Ingresos por cobrar *</th>
        <th data-sortable="true" class="sum-column">Gastos por aprobar *</th>
      {% endif %}
    </tr>
  </thead>
  
  <tbody>
    {% for project in year_data.data|dictsort:"code" %}
      {% if project.account_sales != 0 or project.account_expenses != 0 %}
      <tr>
        <td>{{ project.code }}</td>
        <td>{{ project.name }}</td>
        {% if request.user.is_superuser %}
          <td>{{ project.account_checking|floatformat:2 }} €</td>
          <td>
            {% if project.total_unjustified < 0 %}
              <strong>{{ project.total_unjustified|floatformat:2 }} €</strong>
            {% else %}
              {{ project.total_unjustified|floatformat:2 }} €
            {% endif %}
          </td>
        {% endif %}
        <td>{{ project.account_sales|floatformat:2 }} €</td>
        <td>{{ project.account_expenses|floatformat:2 }} €</td>
        <td>{{ project.contributions|floatformat:2 }} €</td>
        <td>{{ project.contributions|contribution_percentage:project.account_sales}}</td>
        {% if request.user.is_superuser %}
          <td>{{ project.total_unpaid_invoices|floatformat:2 }} €</td>
          <td>{{ project.total_unpaid_expenses|floatformat:2 }} €</td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

    <div class="container mt-5">
      <canvas id="chartIngresosPie-{{ year }}" width="400" height="200"></canvas>
    </div>

  </div>
  {% endfor %}


</div>

<script>
 // Esperar a que el contenido del DOM esté cargado
  document.addEventListener("DOMContentLoaded", function () {
    $('.sortable-table').bootstrapTable({
    classes: 'table table-bordered',
    headerStyle: function(column) {
        return {
            css: {
                'white-space': 'normal',
                'word-break': 'break-word'
            }
        }
    }
});

    {% for year, year_data in total_projects.items %}
      (function(year) {  // IIFE para crear un nuevo scope por año
        // Asegurarse de que 'year' es un string
        const yearString = String(year);  // Forzar a string
        
        // Crear arrays únicos para cada año
        const yearLabels = [];
        const yearIngresos = [];
        const yearGastos = [];
        
        {% for project in year_data.data|dictsort:"code" %}
          {% if project.account_sales != 0 or project.account_expenses != 0 %}
            yearLabels.push("{{ project.code }}");
            yearIngresos.push({{ project.account_sales }});
            yearGastos.push({{ project.account_expenses }});
          {% endif %}
        {% endfor %}

        // Llamar a la función para crear los gráficos
        createChartsForYear(yearString, yearLabels, yearIngresos, yearGastos);
      })("{{ year }}");  // Aseguramos que 'year' siempre se pase como string
    {% endfor %}

  });
</script>

<style>
.bootstrap-table .table thead th,
.bootstrap-table .sortable-table thead th {
    word-wrap: break-word !important;
    word-break: break-word !important;
    max-width: 270px !important;
    min-width: 100px !important;
    white-space: normal !important;
    text-align: center !important;
    overflow: visible !important;
    text-overflow: initial !important;
    height: auto !important;
}

/* Estilos específicos para el contenedor del título sortable */
.bootstrap-table .table thead th .th-inner,
.bootstrap-table .sortable-table thead th .th-inner {
    white-space: normal !important;
    word-break: break-word !important;
    height: inherit !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: inherit !important;
}

</style>
{% endblock %}
