{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

<div class="py-5 text-center">
  <h1>Informe Balance: {{ project.name }} ({{project.code}})</h1>
</div>

<h4 class="text-center text-dark"><i class="text-dark bi bi-piggy-bank-fill"></i>Disponible: {{project_total.available_balance|floatformat:2}} €</h4>

  {%for account_code, account in cash_accounts.items %}
  <p class="text-center h6 mb-0">{{account.name}}: {{account.balance|floatformat:2}} €</p>
  {% endfor %}

  
{% endblock %}
