{% load static %}
<form method="post" id="new_account_move">
    <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
    <div class="row">
      <div class="col-sm">
        <input type="hidden" id="from_account" name="from_account" value="{{from_account}}" >
        <input type="hidden" id="available_balance" value="{{available_balance}}" >
        <h4 class="text-xs font-weight-bold text-dark mb-1 mt-3">
          Cuenta de destino
        </h4>
        <div>
          <input type="radio" id="internal_account" name="destination_type" value="internal_account" checked>
          <label for="internal_account">Cuenta Interna</label>
        </div>
        <select class="selectpicker mt-2" id="to_account_internal" name="to_account_internal"
          data-live-search="true" data-mdb-selected="['personal_account']" required>
          {%if from_account != user_email %}
            <option value="personal_account">Mi Cuenta Personal [{{user_email}}]</option>
          {% endif %}
          {% for k, v in all_accounts.items %}
            {%if k != from_account %}
              <option value="{{ k }}">[{{ k }}] {{v}}</option>
            {% endif %}
          {% endfor %}

        </select>
        <div>
          <input type="radio" id="external_account" name="destination_type" value="external_account">
          <label for="external_account">Cuenta Externa</label>
        </div>
        <input type="text" id="iban_account" name="iban_account" placeholder="Número de cuenta IBAN"
          class="form-control mt-2"><span id="iban-validation-result"></span>
          <input type="text" id="to_account_beneficiary" name="to_account_beneficiary" placeholder="Beneficiario/a"
          class="form-control mt-2">

        <div>
          <input type="radio" id="contributions" name="destination_type" value="contributions">
          <label for="contributions">Aportación al colectivo</label>
          <label class="red small hidden" id="contributions_label">Si puedes permitirlo, recuerda donar conscientemente al común de la cooperativa para hacerla sostenible. <a target="_blank" href="{{ project_total.why_contributions_url}}">Más información aquí.</a></label>
        </div>
        <div>
          <input type="radio" id="atm_withdrawal" name="destination_type" value="atm_withdrawal">
          <label for="external_account">Retirada en cajero</label> <small><a href="javascript:info_dimo()">¿Cómo funciona?</a></small>
        </div>
      </div>

      
      <div class="col-sm">
        <div class="row align-items-center">
          <!-- Columna para el label "Cantidad:" -->
          <div class="col-3">
            <h4 class="text-xs font-weight-bold text-dark mb-1">
              Cantidad:
            </h4>
          </div>
          <!-- Columna para el input y el símbolo € -->
          <div class="col-6">
            <div class="input-group cantidad-group">
              <input class="cantidad-input form-control" 
                     id="transfer_amount" name="transfer_amount" 
                     type="number" value=""
                     min="0" step="0.01" pattern="\d+(\.\d{1,2})?" 
                     placeholder="0" required />
              <span class="input-group-text cantidad-symbol">€</span>
            </div>
          </div>
        </div>
        <h4 class="text-xs font-weight-bold text-dark mb-1">
          Concepto:
        </h4>
        <textarea id="transfer_ref" name="transfer_ref" class="mt-3 form-control" rows="4"
                  aria-label="With textarea" placeholder="Escribe aquí el concepto o la referencia de la transacción." required></textarea>
        {% if user.is_superuser %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="avoid_notify" id="avoid_notify">
            <label class="form-check-label" for="avoid_notify">Evitar notificar a la cuenta receptora (Sólo admins)</label>
          </div>
        {% endif %}
      </div>
      
      
      <button type="button" class="w-90 btn btn-primary btn-lg mt-3" onclick="openConfirmPaymentModal()">
        <i class="bi bi-send"></i> Enviar transacción</button>
    </div>

  </form>
  <script src="{% static 'js/iban.js' %}?v={{APP_VERSION}}"></script>
