{% load static %}
{% for name, txs in transactions.items %}
    <h3>{% if name == 'checking' %}Cuenta Corriente{%else%}{{name}}{%endif%}</h3>

    <!-- Tabs for years -->
    <ul class="nav nav-tabs" id="year-tabs" role="tablist">
      {% for year, year_txs in txs.items %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if forloop.first %}active{% endif %}" 
                id="tab-{{year}}" 
                data-bs-toggle="tab" 
                data-bs-target="#content-{{year}}" 
                type="button" 
                role="tab" 
                aria-controls="content-{{year}}" 
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                {% if forloop.first %}data-bs-active="true"{% endif %}
          >
              
          {{ year }}
        </button>
      </li>
      {% endfor %}
    </ul>

    <!-- Tab content for each year -->
    <div class="tab-content">
      {% for year, year_txs in txs.items %}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
           id="content-{{year}}" 
           role="tabpanel" 
           aria-labelledby="tab-{{year}}">
        <table id="table-transactions-{{year}}" 
               data-toggle="table" 
               data-sort-name="fecha" 
               data-sort-order="desc" 
               class="table table-striped table-bordered table-hover">
          <thead class="thead-dark">
            <tr class="table-secondary">
              {% if user.is_superuser %}
              <th data-field="id" data-sortable="true" data-width="5">ID</th>
              {% endif %}
              <th data-field="fecha" data-sortable="true" data-width="10">Fecha</th>
              <th data-field="cliente" data-sortable="true" data-width="5">Origen</th>
              <th data-field="destino" data-sortable="true" data-width="5">Destino</th>
              <th data-field="total" data-sortable="true" data-width="12">Total</th>
              <th class="d-none d-sm-table-cell" data-field="referencia" data-sortable="true" data-width="200">Referencia</th>
              <th class="d-none d-sm-table-cell" data-field="estado" data-sortable="true" data-width="12">Estado</th>
              <th data-width="6">Ver</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in year_txs %}
            <tr class="{% if tx.state == 'cancel' %}strikethrough{% endif %}">
              {% if user.is_superuser %}
              <td><a href="{{ODOO_DOMAIN}}/web?debug=1#id={{tx.id}}&action=215&model=account.move&view_type=form" target="_blank">{{tx.id}}</a></td>
              {% endif %}
              <td>{{tx.date}}</td>
              <td>{{tx.sender}}</td>
              <td>{{tx.receiver}}</td>
              <td>
                <span class="transaction-amount {% if not tx.positive %}negative-amount{% endif %}">
                  {{tx.amount}}€
                </span>
              </td>
              <td class="d-none d-sm-table-cell">
                {{tx.ref}}
                {% if tx.line_name %}
                  : {{tx.line_name}}
                {% endif %}
              </td>
              <td class="d-none d-sm-table-cell">
                {% if tx.state == 'draft' %} 
                <span class="text-warning">
                  <i class="bi bi-pencil-square"></i> Borrador
                </span>
                {% elif tx.state == 'posted' %}
                <span class="text-success">
                  <i class="bi bi-check-circle-fill"></i> Realizada
                </span>
                {% elif tx.state == 'cancel' %}
                <span class="text-danger">
                  <i class="bi bi-x-circle-fill"></i> Cancelada
                </span>
                {% else %}
                {{tx.state}}
                {% endif %}
              </td>
              <td class="text-center">
                <a href="{% url 'get_transaction_view' tx_id=tx.id %}">
                  <i class="bi bi-envelope-open"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
{% endfor %}
