{% load i18n static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Registro" %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration_base.css' %}">
    <!-- Cloudflare's font CDN -->
    <link href="https://fonts.cdnjs.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.css" rel="stylesheet" />
    {% block extrastyle %}{% endblock %}
    <style>
        body {
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .main-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin-bottom: auto;
            margin-top: auto;
        }
        .logo {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        footer {
            width: 100%;
            background-color: black;
            margin-top: auto;
        }
        footer a {
            color: white;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="logo">
            <img src="{% static 'assets/images/logo.png' %}" alt="Logo GNB" style="max-width: 300px; width: 100%; height: auto;">
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer class="py-2 bg-black">
        <div class="container px-5">
            <div>
                <p class="m-0 text-white small">
                    <span id="madewith1"><a href="https://framagit.org/komun/gnb">GNB</a> Versión {{APP_VERSION}} <br>Software libre</a> desarrollado por amor al hacktivismo <i class="text-danger bi bi-balloon-heart-fill"></i> gracias a <a href="https://komun.org">Komun SobTec</a>.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>