{% extends "base.html" %}
{% block head %}

{% endblock %}
{% load static %}
{% block title %}
<title>GNB Nuevo Ingreso/Cash-in</title>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="p-3 d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="mb-0 text-gray-800">GNB Nuevo Ingreso/Cash-in</h1>
    </div>
  </div>
  <form id="form" method="post" action="" class="needs-validation" validate>
    <div class="row">
      <div class="col-sm-4">
        <label for="unpaid_invoice" class="form-label">Factura correspondiente: <a id="odoo-link" target="_blank" href="" class="form-label"></a></label>
        <div class="row mb-3">
          <select class="selectpicker" id="unpaid_invoice" name="unpaid_invoice_id" data-live-search="true">
            <option value="" data-account="">----</option>
            {% for invoice in unpaid_invoices %}
                <option value="{{ invoice.id }}"
                    data-name="{{ invoice.name }}" 
                    data-amount="{{ invoice.amount_residual_signed }}">
                    [{{ invoice.name }}] 
                    {% if invoice.fragmentada %}
                        (Frag: {{ invoice.amount_residual_signed_str }}€/{{ invoice.amount_total }}€)
                    {% else %}
                        ({{ invoice.amount_residual_signed_str }}€)
                    {% endif %}
                    - Cli: {{ invoice.customer_name }}
                </option>
            {% endfor %}
        </select>
        </div>

        <div class="row mb-3">
          <label for="from_journal" class="form-label">Recibido vía:</label>
          <select class="selectpicker" id="from_journal" name="from_journal" data-live-search="true" required>
            <option value="" selected >----</option>
            {% for p in payment_accounts %}
            <option value="{{ p.id }}" data-custom="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
          </select>
        </div>


        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked name="notify_project" id="notify_project">
          <label class="form-check-label" for="notify_project">Notificar a responsables del proyecto</label>
        </div>
      </div>

      <div class="col-sm-4 offset-sm-3">
        <div class="row mb-3">
          <label for="project_name" class="form-label">Fecha</label>
          <input type="date" class="mb-3 form-control" name="cashin_date" id="cashin_date"
            placeholder="pulsa para elegir fecha" required>
          <div class="invalid-feedback">
            Please enter a valid date.
          </div>
        </div>
        <div class="row mb-3">
          <label for="address" class="form-label">Referencia del movimiento</label>
          <input type="text" class="form-control" id="reference" name="reference" value="Ingreso en Cuenta Bancaria"
            required>
        </div>
        <div class="row mb-3">
          <label for="received_amount" class="form-label">Cantidad</label>
          <input type="number" class="form-control" name="received_amount" id="received_amount" style="width: 200px;"
          required min="0" step="0.01" pattern="\d+(\.\d{1,2})?" >
          <div class="invalid-feedback">
            Cantidad requerida
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked name="pay_taxes" id="pay_taxes">
            <label class="form-check-label" for="pay_taxes">Pagar impuestos</label>
          </div>
        </div>

      </div>
      <hr class="my-4">
      <button class="w-100 btn btn-primary btn-lg" type="submit"
        type="button">Asignar</button>
      <hr class="my-4">
  </form>
</div>

{% endblock %}
{% block script %}

<script src="{% static 'js/scripts.js' %}?v={{APP_VERSION}}" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    // Limpiar la fecha al cargar la página
    document.getElementById("cashin_date").value = "";

    // Referencias a los elementos del formulario
    var fromJournalSelectpicker = $('#from_journal');
    var referenceInput = $('#reference');
    var notifyProjectCheckbox = $('#notify_project');
    var payTaxesCheckbox = $('#pay_taxes');
    var receivedAmountInput = $('#received_amount');
    var odooLinkContainer = $('#odoo-link');
    var odooLink = $('#odoo-link');

    // Inicialmente, deshabilitar checkboxes
    notifyProjectCheckbox.prop("disabled", true);
    payTaxesCheckbox.prop("disabled", true);

    // Evento cuando cambia la selección de factura
    $('#unpaid_invoice').on('change', function () {
      var selectedOption = $(this).find('option:selected');
      var selectedName = selectedOption.data('name');
      var selectedAmount = selectedOption.data('amount');
      var isFragmentada = selectedOption.text().includes('Frag:');
      
      // Establecer el monto de la factura en "Cantidad"
      receivedAmountInput.val(selectedAmount);

      // Si no se selecciona ninguna factura
      if (selectedOption.val() === '') {
        referenceInput.val("Ingreso en Cuenta Bancaria");
        notifyProjectCheckbox.prop("disabled", true);
        payTaxesCheckbox.prop("disabled", true);
        payTaxesCheckbox.prop("checked", true); // Restaurar el checkbox como marcado
        // Hide the "Enlace Odoo" container if no invoice is selected
        odooLinkContainer.hide();
      } else {
        var invoiceId = selectedOption.val();
        var invoiceName = selectedOption.data('name');
        var customerName = selectedOption.data('customer');
        var odooLinkUrl = "{{ODOO_DOMAIN }}/web?#id=" + invoiceId + "&action=216&model=account.move&view_type=form";
        
        // Set the href and the text of the link
        odooLink.attr('href', odooLinkUrl);
        odooLink.text('Enlace Odoo ' + invoiceId);
        
        // Show the "Enlace Odoo" container
        odooLinkContainer.show();

        referenceInput.val(selectedName);
        notifyProjectCheckbox.prop("disabled", false);
        payTaxesCheckbox.prop("disabled", false);

        // Si la factura es fragmentada, desmarcar el checkbox de pagar impuestos
        payTaxesCheckbox.prop("checked", !isFragmentada);

        // Extraer las siglas del proyecto
        var projectCode = selectedName.split("/")[1]; 
        console.log('projectCode', projectCode)
        // Buscar en "Recibido vía" una opción que contenga "C.C." + siglas del proyecto
        var matchingOption = fromJournalSelectpicker.find('option').filter(function () {
          return $(this).text().includes("C.C." + projectCode);
        });

        // Si se encuentra una coincidencia, seleccionarla
        if (matchingOption.length > 0) {
          fromJournalSelectpicker.selectpicker('val', matchingOption.val());
        } else {
          fromJournalSelectpicker.selectpicker('val', ''); // Dejar vacío si no hay coincidencia
        }
      }
    });
  });
</script>

{% endblock %}
