{% extends "base.html" %}
{% load static %}
{% block title %}
<title>GNB Pagos Pendientes</title>
{% endblock %}


{% block content %}

<h1>Pagos pendientes</h1>

<h2>Pagos SEPA</h2>
<div class="text-right mb-3">
    <button id="export-rural-via" class="btn btn-primary">Exportar Rural Vía</button>
    <button id="mark-as-paid" class="btn btn-success">Marcar como pagados</button>
</div>

<style>
    .action-column {
        width: 1%;
        white-space: nowrap;
    }
    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
</style>

<table id="sepa-table" data-toggle="table" 
    data-sort-name="fecha" 
    data-sort-order="desc"
    class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th data-field="checkbox"><input type="checkbox" id="select-all"></th>
            <th data-field="accion" class="action-column">Acción</th>
            <th data-field="fecha" data-sortable="true">Fecha</th>
            <th data-field="desde" data-sortable="true">Desde</th>
            <th data-field="hacia" data-sortable="true" class="wide-column">Hacia</th>
            <th data-field="referencia" data-sortable="true">Referencia</th>
            <th data-field="cantidad" data-sortable="true">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in pending_payments_SEPA %}
        <tr>
            <td><input type="checkbox" class="row-checkbox" id="{{ payment.id }}"></td>
            <td class="action-column">
                <button class="btn btn-danger btn-sm" onclick="tx_details('decline', '{{payment.id}}', '{{ payment.from_account }}')">X</button>
            </td>
            <td data-value="{{ payment.due_date|date:'Y-m-d H:i:s' }}">{{ payment.due_date|date:"d/m/Y H:i" }}</td>
            <td>{{ payment.from_account }}</td>
            <td class="wide-column">{{ payment.to_account_str }}</td>
            <td>{{ payment.reference }}</td>
            <td data-field="numero" data-sortable="true">{{ payment.amount }}{{ payment.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <hr>
<h2>Pagos Cajero DIMO</h2>
<table id="table" data-toggle="table" data-sort-name="total" data-sort-order="desc"
class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Acciones</th>
            <th>Fecha</th>
            <th>Desde</th>
            <th class="wide-column">Hacia</th>
            <th>Referencia</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in pending_payments_atm %}
        <tr>
            <td>
                <button class="btn btn-success btn-sm" onclick="tx_details('accept', '{{payment.id}}', '{{ payment.from_account }}')">Aceptar</button>
                <button class="btn btn-danger btn-sm" onclick="tx_details('decline', '{{payment.id}}', '{{ payment.from_account }}')">Declinar</button>
            </td>
            <td  data-field="fecha" data-sortable="true">{{ payment.due_date }}</td>
            <td>{{ payment.from_account }}</td>
            <td class="wide-column">{{ payment.to_account_str }}</td>
            <td>{{ payment.reference }}</td>
            <td data-field="numero" data-sortable="true">{{ payment.amount }}{{ payment.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->

<hr>
<h2>Pagos ya realizados</h2>

<table id="paid-table" data-toggle="table" 
    data-sort-name="fecha" 
    data-sort-order="desc"
    class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th data-field="fecha" data-sortable="true">Fecha</th>
            <th data-field="estado" data-sortable="true">Estado</th>
            <th data-field="desde" data-sortable="true">Desde</th>
            <th data-field="hacia" data-sortable="true" class="wide-column">Hacia</th>
            <th data-field="referencia" data-sortable="true">Referencia</th>
            <th data-field="cantidad" data-sortable="true">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in paid_payments %}
        <tr>
            <td data-value="{{ payment.due_date|date:'Y-m-d H:i:s' }}">{{ payment.due_date|date:"d/m/Y H:i" }}</td>
            <td>{{ payment.status }}</td>
            <td>{{ payment.from_account }}</td>
            <td class="wide-column">{{ payment.to_account_str }}</td>
            <td>{{ payment.reference }}</td>
            <td data-field="numero" data-sortable="true">{{ payment.amount }}{{ payment.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
// Inicializar las tablas y el select-all después de que las tablas estén listas
$(document).ready(function() {
    // Inicializar las tablas
    $('#sepa-table').bootstrapTable();
    $('#paid-table').bootstrapTable();
    
    // Intentar inicializar en varios momentos para asegurar que funcione
    initializeSelectAll();

    // Cuando la tabla termine de inicializarse
    $('#sepa-table').on('load-success.bs.table', function() {
        initializeSelectAll();
    });

});

function initializeSelectAll() {
    // Remover el evento anterior si existe para evitar duplicados
    $('#select-all').off('change');
    
    // Añadir el nuevo evento
    $('#select-all').on('change', function() {
        var checkboxes = document.querySelectorAll('.row-checkbox');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });
}

$('#export-rural-via').click(function() {
    // Simplemente redirige al navegador a la URL de descarga
    var selectedIds = getSelectedIds();
    // Construct the URL with the payment_ids as query parameters
    var url = "{% url 'export_payments_view' %}?payment_ids=" + selectedIds.join(",");
    // Redirect the user to the URL
    window.location.href = url;
});

function sendTXDetailsForm(action, payment_id, from_account) {
    var emailText = $('#tx_details_email_text').val();
    if(action == 'decline') alert('Recuerda borrar manualmente el account move en Odoo para devolverle el dinero.');
    // Aquí puedes añadir la lógica para enviar el email.
    // Por ejemplo, puedes hacer una llamada AJAX para enviar los datos al servidor.
    console.log('Action:', action);
    console.log('Payment ID:', payment_id);
    console.log('From Account:', from_account);
    console.log('Email Text:', emailText);

    $.ajax({
        url: "{% url 'notify_about_tx_details_view' %}",
        type: 'POST',
        data: {
            action: action,
            payment_id: payment_id,
            from_account: from_account,
            email_text: emailText
        },
        success: function(response) {
            alert('Email enviado con éxito.');
            closeConfirmModal();
            window.location.href = "{% url 'pending_payments_view' %}";  //reloading page
        },
        error: function(xhr, status, error) {
            alert('Error al enviar el email: ' + error);
        }
    });
}


function tx_details(action, payment_id, from_account){
    var bodyContent = 'Email a enviar a: ' + from_account + '<br/><textarea id="tx_details_email_text" name="tx_details_email_text" rows="4" cols="40"></textarea><br/>* Se quitará de la lista de pagos pendientes.';
    if(action == 'accept')    var title = 'Añadir Detalles del retiro en cajero';
    else  var title = 'Transferencia cancelada. Añadir Razón.';
    var footerContent = `
        <button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="sendTXDetailsForm('${action}', '${payment_id}', '${from_account}')">Enviar Mail</button>
    `;
    createDynamicModal(title, bodyContent, footerContent);
}
$('#mark-as-paid').click(function() {
    var selectedIds = getSelectedIds();
    console.log(selectedIds);
    $.ajax({
        url: "{% url 'mark_as_paid_payments_view' %}",
        type: "POST",
        data: {
            payment_ids: selectedIds,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            // Handle success response
            console.log('Mark as paid successful: ids: '+ selectedIds);
            alert("Éxito notificando vía mail a los receptores.")
            window.location.href = "{% url 'pending_payments_view' %}";  //reloading page
        },
        error: function(xhr, status, error) {
            // Handle error response
            console.error('Mark as paid failed:', error);
        }
    });
});

function getSelectedIds() {
    var selectedCheckboxes = document.querySelectorAll('.row-checkbox:checked');
    var ids = [];
    for (var checkbox of selectedCheckboxes) {
        ids.push(checkbox.id);
    }
    return ids;
}
</script>

<style>
    .wide-column {
        width: 20%;
    }
    </style>

{% endblock %}
