{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Aplicación Financiera descentralizada" />
    <meta name="author" content="Komun Team" />
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
    {% block title %} {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo.png' %}" />
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- other head elements -->
    <script>
        function checkOdooConnection() {
            fetch('{% url "odoo:odoo_connection_status" %}')
                .then(response => response.json())
                .then(data => {
                    if (!data.is_connected) {
                        alert('Se perdió la conexión con el servidor de Odoo. El sistema se desactivará hasta que se restablezca la conexión. Contacta al círculo de administración.');
                        document.body.classList.add('screen-disabled');
                    } else {
                        document.body.classList.remove('screen-disabled');
                    }
                })
                .catch(error => {
                    console.error('Error checking Odoo connection:', error);
                    alert('Se perdió la conexión con el servidor de Odoo. El sistema se desactivará hasta que se restablezca la conexión. Contacta al círculo de administración.');
                });
        }

        //setInterval(checkOdooConnection, 60000*5); // Check every 5 min

        document.addEventListener('DOMContentLoaded', (event) => {
            checkOdooConnection(); // Initial check when the page loads
        });
    </script>

    {% block head %}{% endblock %}
</head>
<body>
    {% if DEV %}
    <div class="alert alert-warning" role="alert" >
        Versión Desarrollo de GNB <b>v{{APP_VERSION}}</b>. Base de datos: <b>{{CURRENT_DATABASE}}</b>
    </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
                </button>
                {{ message|safe }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% include "frontend/menu.html" %}
    <div class="container" style="margin-bottom: 20px;">
    <main>
        {% block content %}{% endblock %}
    </main>
    </div>
    <div class="loader" id="loading-screen"></div>
    <div id="loading-overlay"></div>
    {% include "frontend/footer.html" %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}?v={{APP_VERSION}}"></script>
    {% block script %}{% endblock %}

</body>
</html>
