{% extends "django_registration/registration_base.html" %}
{% load i18n static %}

{% block title %}{% trans "Iniciar sesión" %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block content %}
                <h1 class="text-center mb-4">{% trans "Iniciar sesión" %}</h1>
                
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% trans "Por favor, introduce un correo electrónico y contraseña válidos." %}
                    </div>
                    {% endif %}

                    <div class="mb-3 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input type="text" 
                               id="id_username" 
                               name="username" 
                               class="form-control form-control-lg" 
                               placeholder="{% trans 'Correo electrónico' %}" 
                               required 
                               autocomplete="username">
                    </div>

                    <div class="mb-3 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        <input type="password" 
                               id="id_password" 
                               name="password" 
                               class="form-control form-control-lg" 
                               placeholder="{% trans 'Contraseña' %}" 
                               required 
                               autocomplete="current-password">
                    </div>

                    <button type="submit" class="btn btn-login btn-primary w-100 py-2">
                        {% trans "Entrar" %}
                    </button>

                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                <div class="login-links">
                    {% if settings.REGISTRATION_OPEN %}
                    <p class="mt-3 text-muted">
                        {% trans "¿No tienes cuenta?" %} 
                        <a href="{% url 'django_registration_register' %}" class="text-primary">
                            {% trans "Regístrate aquí" %}
                        </a>
                    </p>
                    {% endif %}

                    <p>
                        <a href="{% url 'password_reset' %}" class="text-muted">
                            {% trans "¿Olvidaste tu contraseña?" %}
                        </a>
                    </p>
                </div>


{% endblock %}