{% extends "django_registration/registration_base.html" %}
{% load i18n  %}
{% block title %}{% trans "Establecer nueva contraseña" %}{% endblock %}

{% block content %}

        <div class="col-12 ">
            <h1 class="text-center mb-4">{% trans "Establecer nueva contraseña" %}</h1>
            
            <form method="post" action="">
                {% csrf_token %}
                
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% trans "Por favor, corrige los errores en el formulario." %}
                </div>
                {% endif %}

                <div class="mb-3">
                    <label for="id_new_password1" class="form-label text-start w-100">{% trans "Nueva contraseña" %}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        {{ form.new_password1 }}
                    </div>
                    {% if form.new_password1.errors %}
                        <div class="text-danger small mt-1">
                            {{ form.new_password1.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="id_new_password2" class="form-label text-start w-100">{% trans "Confirmar contraseña" %}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        {{ form.new_password2 }}
                    </div>
                    {% if form.new_password2.errors %}
                        <div class="text-danger small mt-1">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-login btn-primary w-100 py-2">
                    {% trans "Establecer contraseña" %}
                </button>
            </form>

            <div class="login-links">
                <p>
                    <a href="{% url 'login' %}" class="text-muted">
                        {% trans "Volver al inicio de sesión" %}
                    </a>
                </p>
            </div>
        </div>

{% endblock %}