{% extends "django_registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Restablecer contraseña" %}{% endblock %}
{% block content %}
<h1 class="text-center mb-4">{% trans "Restablecer contraseña" %}</h1>
                
                <p class="text-muted mb-4 text-center">
                    {% blocktrans %}
                    ¿Has olvidado tu contraseña? Ingresa tu dirección de correo electrónico 
                    y te enviaremos instrucciones para crear una nueva.
                    {% endblocktrans %}
                </p>

                <form method='post' action=''>
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% trans "Por favor, verifica tu correo electrónico." %}
                    </div>
                    {% endif %}

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                            {{ form.email.errors }}
                            <input type="email" 
                                   name="email" 
                                   class="form-control form-control-lg" 
                                   placeholder="{% trans 'Correo electrónico' %}" 
                                   required 
                                   autocomplete="email">
                    </div>
                    </div>

                    <button type="submit" class="btn btn-login btn-primary w-100 py-2">
                        {% trans "Restablecer" %}
                    </button>
                </form>

                <div class="login-links">
                    <p>
                        <a href="{% url 'login' %}" class="text-muted">
                            {% trans "Volver al inicio de sesión" %}
                        </a>
                    </p>
                </div>
{% endblock %}
